*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D1016;
    font-family: Inter-Medium,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.fitness-header-section{
    width: 100%;
    height: 120vh;
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_1600,ar_1.67,q_auto:eco,dpr_1,f_auto,fl_progressive/image/vm/1b2fc704-ac67-4ad0-abac-18e015f79816.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.fitness-header-section > button{
    font-weight: bolder;
    font-size: 17px;
    padding: 8px 16px;
    background-color: #FFFFFF;
    color: rgb(211, 58, 58);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 30px;
}

.fitness-header-section > button:hover{
  color: black;
}

.fitness-header-section > .litepass{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.fitness-header-section > .litepass > div{
    border: 1px solid rgb(201, 201, 201);
    background-color: rgba(100, 100, 100, 0.2);
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.fitness-header-section > .litepass > div:hover{

    background-color: rgba(100, 100, 100, 0.3);

}
.fitness-header-section > .litepass > div > h2{
    color: #BEBEBE;
    font-size: 20px;
}
.fitness-header-section > .litepass > div > img{
    width: 90px;
}

.offer-section{
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    background-color: #0D1016;
    /* box-shadow: 0px 0px 320px #171A26; */
    margin-bottom: 80px;
}

.offer-section > div{
    width: 70%;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 0 auto;
    min-height: 180px;
    border-radius: 20px;
    background-color: #2F3743;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

.offer-section > div > div{
    height: 100%;
   color: white;
}
.offer-section > div > div > *{
    margin-bottom: 20px;
}

.offer-section > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.offer-section > div > div:nth-child(2) > p{
    font-weight: bolder;
    position: relative;
    margin-bottom: 20px;
}
.offer-section > div > div:nth-child(2) > p::after{
   content: "";
   height: 2px;
   width: 100%;
   background-color: white;
   position: absolute;
   top: 50%;
   left: 120%;
}
.offer-section > div > div:nth-child(2) > p::before{
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -120%;
 }
 .offer-section > div > div:nth-child(2) > h1 > span{
  position: relative;
 }
 .offer-section > div > div:nth-child(2) > h1 > span:nth-child(1)::after{
    content: "Hrs";
    color: white;
    position: absolute;
    bottom: -20px;
    left: 20%;
    font-size: 14px;
 }
 .offer-section > div > div:nth-child(2) > h1 > span:nth-child(2)::after{
    content: "Mins";
    color: white;
    position: absolute;
    bottom: -20px;
    left: 20%;
    font-size: 14px;
 }
 .offer-section > div > div:nth-child(2) > h1 > span:nth-child(3)::after{
    content: "Sec";
    color: white;
    position: absolute;
    bottom: -20px;
    left: 20%;
    font-size: 14px;
 }

 .video-section{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
 }
.video-section > div{
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.video-section > div:nth-child(2){
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

}

.video-section > div > h1{
    color: white;
    margin-bottom: 20px;
}
.video-section > div > h1 > span{
    font-size: 22px;
    position: relative;
    cursor: pointer;
   
}
.video-section > div > h1 > span::after{
    content: "";
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: white;
    bottom: -5px;
}

.video-section > div > div{
    width: 100%;
    background-color: #2F3237;
}

.video-section > div > div > img{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 18px 18px 0 0;
}
.video-section > div > div > img+div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
}
.video-section > div > div > img+div > div > h1{
    margin-bottom: 10px;
}

.video-section > div > div > img+div > div > p{
   color: gray;
}
.video-section > div > div > img+div > div+button{
    background-color: #595B5F;
    color: white;
    padding: 8px 16px;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

.video-section > div > div > img+div{
    margin-bottom: 30px;
}
.video-section > div > div{
    border-radius: 18px;
}
hr+p{
    margin-top: 10px;
    margin-left: 20px;
    color:rgb(209, 209, 209);
    margin-bottom: 20px;
}

.slidin-cards{
    width: 70%;
    margin:0 auto;
   overflow-x: hidden;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
   margin-bottom: 40px;
   grid-gap: 20px;
   height: 320px;
}

.slidin-cards > div{
    width: 200px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
transition: all 0.3s linear;
}

.slidin-cards > div:hover{
 transform: scale(1.03);
}

.tracking-section{
    width: 70%;
    height: 350px;
    margin: 0 auto 100px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow-x: hidden;
}
.tracking-section > div{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: #2D3745;
    border-radius: 10px;
}
.tracking-section > div > img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.tracking-section > div > h1{
color: white;
}
.tracking-section > div > p{
    color: rgb(207, 207, 207);
    }
.tracking-section > div > button{
        padding: 8px 16px;
        background-color: rgba(100, 100, 100, 0.3);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        position: relative;
}
.tracking-section > div > button::after{
    content: "";
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 5px;
}
.tracking-section > div > button > i{
    color: green;
    font-size: 20px;
    }

.table-cultpass{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    margin:0 auto 100px;
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.table-cultpass > div{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.table-cultpass > div > *{
    margin-bottom: 10px;
}
.table-cultpass > div > img{
    width: 80px;
}
.table-cultpass > div > h2{
    width: 230px;
    font-size: 20px;
    color: #CCCDCE;
}
.table-cultpass > div > i{
    color: aqua;
    font-size: 20px;
}
.table-cultpass > div > p{
    color: #CCCDCE;
    font-size: 18px;
}
.table-cultpass > div > button{
    font-size: 17px;
    font-weight: bolder;
    padding: 8px 16px;
    border: none;
    background-color: aliceblue;
    border-radius: 5px;
    color: rgb(199, 70, 70);
    cursor: pointer;
}
.table-cultpass > div > button:hover{
color: black;
}

.border-left{
    border-left: .5px solid gray;
}

.border-right{
    border-right: .5px solid gray;
}
.border-top{
    border-top: .5px solid gray;
}

.border-bottom{
    border-bottom: .5px solid gray;
}

.free-trail-cards{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.free-trail-cards > div{
    height: 380px;
    /* border: 1px solid white; */
    transition: all 0.3s linear;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}
.free-trail-cards > div:hover{
 transform: scale(1.08);
}
.free-trail-cards > div:nth-child(1){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,ar_0.75,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/22ae2a86-60e9-4de3-9180-678f40b69eb0.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.free-trail-cards > div:nth-child(2){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,ar_0.75,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/2ce1e296-e894-4f65-9dc1-d6ed11c031ae.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.free-trail-cards > div:nth-child(3){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_300,ar_0.75,q_auto:eco,dpr_2,f_auto,fl_progressive/image/vm/1300abe0-318e-489c-8205-dc770cfe6e54.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.free-trail-cards > div > button {
    font-size: 15px;
    border: none;
    padding: 7px 12px;
    font-weight: bolder;
    color:white;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.2);
    cursor: pointer;
    display: none;
}
.free-trail-cards > div > button:hover {
 
    background-color: rgba(100, 100, 100, 0.4);

}
.free-trail-cards > div:hover > button{
    display: block;
}

.unlimited-access-div{
    width: 100%;
    background-color: #0A1017;
    min-height: 80vh;
    padding: 100px 10px;
}
.unlimited-access-div > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 140px;
}
.unlimited-access-div > div:nth-child(2){

    margin-bottom: 80px;
}
.video-content{
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    border-radius: 30px;
    margin-bottom: 100px;
    position: relative;
    background-color: rgba(100, 100, 100, 0.2);
}
.video-content > div{
    width: 70%;
    padding: 20px 40px;
}

.bottom-poster-section{
    background-color: #15171C;
    min-height: 80vh;
    padding: 40px 0;
    width: 100%;
  
}

.bottom-poster-section > div:nth-child(2){
    width: 100%;
    /* border: 1px solid white; */
    height: 80vh;
   padding: 30px 50px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 30px;
   margin-bottom: 100px;
   background-color: #1A264D;
}

.bottom-poster-section > div:nth-child(2) > div{
    height: 100%;
    /* border: 1px solid white; */
}
.bottom-poster-section > div:nth-child(2) > div:nth-child(2){
background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,w_700,ar_1.315,q_auto:eco,dpr_1,f_auto,fl_progressive/image/vm/246641e8-00d7-42f7-ac92-3207665e35f7.svg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.fitness-network{
    width: 70%;
    margin: 0 auto;
    height: 320px;
    padding: 40px 40px;
    border-radius: 30px;
    background-color: rgba(100, 100, 100, 0.2);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.fitness-network > div{
  height: 100%;
  /* border: 1px solid white; */
}

.fitness-network > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.fitness-network-btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.fitness-network-btn > div{
    transition: all 0.2s linear;
    cursor: pointer;
}

.fitness-network-btn > div:hover {
transform: scale(1.03);

}

.fitness-network-btn > div:nth-child(1){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,h_50,ar_2.98,q_auto:eco,dpr_2,f_auto,fl_progressive//image/test/download-app/app-store-dark-card-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border-radius: 8px;
}
.fitness-network-btn > div:nth-child(2){
    background-image: url("https://cdn-images.cure.fit/www-curefit-com/image/upload/c_fill,h_50,ar_3.31,q_auto:eco,dpr_2,f_auto,fl_progressive//image/test/download-app/play-store-dark-card-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    border-radius: 8px;
}

.fitness-network > div:nth-child(2){
    /* border: 1px solid white; */
    position: relative;
}
.fitness-network > div:nth-child(2)  div{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 50%;
  position: absolute;

}
.fitness-network > div:nth-child(2) > h1{
color: white;
font-size: 58px;
position: absolute; 
 bottom: 7px;
right: 107px;
z-index: 100;

}

.faqs-section{
    width: 100%;
    min-height: 40vh;
    background-color: #171A26;
    padding: 30px 50px;
}

.faq-header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.faqs-qus-ans{
    width:100%;
    border-bottom: 1px solid white;
    padding: 20px 10px;
}

.ques{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ques > h1 > i{
    color: #C1C1C5;
    font-size: 13px;
    margin-right: 10px;
}

.ques > h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C1C1C5;
}
.ques > button{
    color: gray;
    width: 30px;
    height: 30px;
    border:none;
border-radius: 50%;
background-color: transparent;
font-size: 18px;
cursor: pointer;
}

.ques > button:hover{
    background-color: rgba(100, 100, 100, 0.2);
}

.active .down{
    display: none;
}

.up{
    display: none;
}
.active .up{
    display: block;
}
.faqs-qus-ans > p{
    width: 50%;
    margin: 20px 15px;
    line-height: 25px;
    color: #C1C1C5;
    font-size: 20px;
}

.faqs-qus-ans > p, .faqs-qus-ans > span{
    display: none;
}

.active > p, .active > span{
    display: block;
}